<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'Pazar Favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'Pazar Favicon.ico' %}" />
    <link rel="icon" href="{% static 'Pazar Favicon.ico' %}" sizes="32x32" />
    <link rel="icon" sizes="192x192" href="{% static 'Pazar Favicon.ico' %}" />
    <title>Password Reset Done | Pazar-Aapke Sapno Ka Bazaar</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        .container p{
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.</p>
    
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam folder.</p>
    </div>
</body>
</html>