{% extends "base.html" %}

{% block title %}Password Reset Confirm |
{% endblock title %}
{% load crispy_forms_tags %}

{% block css %}
.row{
    margin-right:0;
}
.card-title{
    font-size:1.5rem;
}
.card-body{
    padding:1.1rem;
}
.form-group{
    margin-bottom:1.5rem;
}
label{
    display:inline-block;
    margin-bottom:0.5rem;
    font-family: 'Baloo Tamma 2', cursive;
}
small ul{
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    list-style-type:disc;
    padding-inline-start: 40px;
    font-family: 'Baloo Tamma 2', cursive;
}
{% endblock css %}

{% block body %}

<div class="container mt-3">
<div class="row justify-content-center">
<div class="col-4">
<div class="card mt-5">
    <div class="card-body">
        {% if validlink %}
        <h2 class="card-title text-dark mb-2" style="font-family: 'Roboto', sans-serif;">Reset Password</h2>
        <form method="post" style="padding:1rem;">{% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary btn-block btn-lg">Change Password</button>
        </form>
        {% else %}
        <div class="container">
        <b>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</b><br>
        <a href="{% url 'password_reset' %}" class="btn btn-info btn-block btn-lg mt-3">Click Here!</a>
        </div>
        {% endif %}
    </div>
</div>
</div>
</div>
</div>
{% endblock %}