{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password |
{% endblock title %}

{% block css %}
.row{
    margin-right:0;
}
.card-title{
    font-size:1.5rem;
    font-family: 'Baloo Tamma 2', cursive;
}
.card-body{
    padding:1.1rem;
}
.form-group{
    margin-bottom:1.5rem;
}
label{
    display:inline-block;
    margin-bottom:0.5rem;
    font-family: 'Baloo Tamma 2', cursive;
}
{% endblock css %}

{% block body %}

<div class="container mt-4">
<div class="row justify-content-center">
<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title text-dark mb-2">Reset your password</h4>
        <form method="post" style="padding:1rem;">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary btn-block btn-lg">Reset</button>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}