{% extends 'base.html' %}

{% block title %}Delete Post |
{% endblock title %}

{% block body %}
<div class="container mt-5 p-5">
    <div class="card bg-light p-3 rounded col-12 col-md-6">
        <div class="card-body">
            <h5 class="card-title fs-5 text-dark">Are you sure you want to delete your post "<b>{{object}}</b>" ?</h5>
            <form method="POST" style="font-family:cursive;">
                {% csrf_token %}
                <input type="submit" value="Confirm" class="btn btn-danger shadow-sm btn-block mt-3">
            </form>
        </div>
    </div>
</div>
{% endblock body %}