{% extends 'base.html' %}

{% block title %}Delete Item |
{% endblock title %}

{% block body %}
<div class="container mt-5 p-5">
    <div class="card bg-light p-5 rounded" style="width:20rem;">
        <div class="card-body">
            <h5 class="card-title fs-5 text-dark">Are you sure you want to delete your item "<b>{{object}}</b>" ?</h5>
            <form method="POST" style="font-family:cursive;">
                {% csrf_token %}
                <input type="submit" value="Confirm" class="btn btn-danger shadow-sm btn-block mt-3">
                <a href="{% url 'items' %}" class="btn btn-warning ml-5 mt-3 shadow-sm btn-block">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock body %}