{% extends 'dashboard base.html' %}

{% block title %}{{listing.Business_Name}} |
{% endblock title %}

{% block shopsactive %}active
{% endblock shopsactive %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/shops">Shops</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{listing.Business_Name}}</li>
  </ol>
</nav>
{% endblock breadcrumb %}

{% block css %}
.card-img-overlay{
    width:0;
}
{% endblock css %}

{% block body %}
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">{{listing.Business_Name}}</h2>
</div>
<div class="container mt-2">
    <div class="card bg-transparent">
        <div class="row">
            <div class="col-md-4">
                {% if listing.Business_Logo %}
                <img src="{{listing.Business_Logo.url}}" alt="{{listing.Business_Name}}" style="height:300px;width:350px;" class="p-1">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">{{listing.Business_Name}}</h5>
                    <p class="card-text">{{listing.Business_Description}}</p>
                    <p class="card-text"><strong>Category:</strong> {{listing.Business_Category}}</p>
                    <p class="card-text"><strong>Services:</strong> {% for i in listing.Business_Subcategory.all %} {{i.name}}{% if not forloop.last %},{% endif %}{% endfor %}</p>
                    <p class="card-text"><strong>Phone:</strong> {{listing.Business_Telephone}}</p>
                    <p class="card-text"><strong>Address:</strong> {% if listing.Address %}{{listing.Address}}{% else %}{{listing.Business_Address}}{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Customers <a class="btn btn-dark btn-sm mx-1" href="{% url 'customer-add' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of customers</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shop</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customer %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'customer' customer.name %}">{{customer.name}}</a></td>
                        <td>{{customer.shop.Business_Name}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.phone}}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-warning mx-1" href="{% url 'customer' customer.name %}"><i class="far fa-eye"></i></a>
                            <a class="btn-sm btn-success mx-1" href="{% url 'edit-customer' customer.id customer.slug %}"><i class="fas fa-edit"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-customer' customer.id customer.slug %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You haven't added any customer yet. Please add one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Products<a class="btn btn-dark btn-sm mx-1" href="{% url 'product-add' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of products</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Image</th>
                    <th scope="col">Offer Price</th>
                    <th scope="col">Price</th>
                    <th scope="col">Warranty</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in listing.product_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{product.name}}</td>
                        <td style="font-family:cursive;" class="text-info">{{product.brand}}</td>                       
                        <td>{% if product.image %}<img src="{{product.image.url}}" style="height:100px;width:100px;">{% endif %}</td>                      
                        <td>{{product.offer_price}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.warranty}}</td>
                        <td>{{product.exp_date}}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-warning mx-1" href="#"><i class="far fa-eye"></i></a>
                            <a class="btn-sm btn-success mx-1" href="{% url 'edit-product' product.id %}"><i class="fas fa-edit"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-product' product.id %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You haven't added any product yet. Please add one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Employee<a class="btn btn-dark btn-sm mx-1" href="{% url 'add-employee' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of employee</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Role</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in listing.employee_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{employee.name}}</td>
                        {% if employee.photo %}
                        <td><img src="{{employee.photo.url}}" style="height:100px;width:100px;"></td>
                        {% endif %}
                        <td>{{employee.role}}</td>
                        <td><i class="fas fa-rupee-sign mr-1"></i>{{employee.salary}}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-warning mx-1" href="{% url 'employee-detail' employee.id %}"><i class="far fa-eye"></i></a>
                            <a class="btn-sm btn-success mx-1" href="{% url 'edit-employee' employee.id %}"><i class="fas fa-edit"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-employee' employee.id %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You have no employee yet. Please hire one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Stocks<a class="btn btn-dark btn-sm mx-1" href="{% url 'new-stock' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of stocks</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">HSN Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Image</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Warranty</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in listing.stock_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'supplier' stock.supplier.name %}">{{stock.supplier}}</a><br><small>Ph No.- {{stock.supplier.phone}}</small></td>
                        <td>{{stock.hsn}}</td>
                        <td>{{stock.name}}</td>                    
                        <td style="font-family:cursive;" class="text-info">{{stock.brand}}</td>                    
                        <td>{% if stock.image %}<img src="{{stock.image.url}}" style="height:100px;width:100px;">{% endif %}</td>                       
                        <td>{{stock.quantity}}</td>
                        <td>{% if stock.offer_price %}{{stock.offer_price}}{% else %}{{stock.price}}{% endif %}</td>
                        <td>{{stock.warranty}}</td>
                        <td>{{stock.exp_date|date:'j F, Y'}}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-success mx-1" href="{% url 'edit-stock' stock.id %}"><i class="fas fa-edit"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-stock' stock.id %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You have no stock yet. Please add one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Suppliers<a class="btn btn-dark btn-sm mx-1" href="{% url 'add-supplier' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of suppliers</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">GST No.</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in listing.supplier_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'supplier' supplier.name %}">{{supplier.name}}</a></td>
                        <td>{{supplier.phone}}</td>
                        <td>{{supplier.address}}</td>
                        <td>{{supplier.email}}</td>
                        <td>{{supplier.gstin}}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-warning mx-1" href="{% url 'supplier' supplier.name %}"><i class="far fa-eye"></i></a>
                            <a class="btn-sm btn-success mx-1" href="{% url 'edit-supplier' supplier.id %}"><i class="fas fa-edit"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-supplier' supplier.id %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You have no any supplier yet. Please add one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Sales<a class="btn btn-dark btn-sm mx-1" href="{% url 'select-customer' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of sales</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Stocks Sold</th>
                    <th scope="col">Quantity Sold</th>
                    <th scope="col">Total Sold Price</th>
                    <th scope="col">Sale Date</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in listing.salebill_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'customer' sale.customer.name %}">{{sale.customer.name}}</a><br><small>Ph No : {{sale.customer.phone}}</small></td>
                        <td>{% for item in sale.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
                        <td>{% for item in sale.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>
                        <td>{{ sale.get_total_price|floatformat:2 }}</td>
                        <td>{{ sale.time|date:"F j, Y" }}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-warning mx-1" href="{% url 'sale-bill' sale.pk %}"><i class="far fa-eye"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-sale' sale.pk %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You have no any sales yet. Please add one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Purchases<a class="btn btn-dark btn-sm mx-1" href="{% url 'select-supplier' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of purchases</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Stocks Sold</th>
                    <th scope="col">Quantity Sold</th>
                    <th scope="col">Total Sold Price</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in listing.purchasebill_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'supplier' purchase.supplier.name %}">{{purchase.supplier.name}}</a><br><small>Ph No : {{purchase.supplier.phone}}</small></td>
                        <td>{% for item in purchase.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
                        <td>{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>
                        <td>{{ purchase.get_total_price|floatformat:2 }}</td>
                        <td>{{ purchase.time|date:"F j, Y" }}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-warning mx-1" href="{% url 'purchase-bill' purchase.pk %}"><i class="far fa-eye"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-purchase' purchase.pk %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You have no any purchase yet. Please add one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-evenly mb-4 mt-4">
    <h2 class="h3 mb-0 text-gray-800" style="margin-left:40px;">Quotations<a class="btn btn-dark btn-sm mx-1" href="{% url 'select-quote-customer' %}"><i class="fas fa-plus-circle"></i></a></h2>
</div>
<div class="container mt-2">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive-md table-responsive-sm table-responsive-lg">
            <table class="table table-striped table-hover shadow-sm">
                <caption>List of quotations</caption>
                <thead class="bg-dark text-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Items</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quote in listing.quotationbill_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a href="{% url 'customer' quote.customer.name %}">{{quote.customer.name}}</a><br><small>Ph No : {{quote.customer.phone}}</small></td>
                        <td>{% for item in quote.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
                        <td>{% for item in quote.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>
                        <td>{{ quote.get_total_price|floatformat:2 }}</td>
                        <td>{{ quote.date|date:"F j, Y"}}</td>
                        <td class="d-inline-flex">
                            <a class="btn-sm btn-warning mx-1" href="{% url 'quotation-bill' quote.pk %}"><i class="far fa-eye"></i></a>
                            <a class="btn-sm btn-danger mx-1" href="{% url 'delete-quote' quote.pk %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <h5>You haven't made any quotations yet. Please made one first.</h5>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}